/*=============================================
=            HTML Main Elements            =
=============================================*/

@import url("https://use.fontawesome.com/releases/v5.0.6/css/all.css");
html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    height: 100%;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
    background: #E2E2E2;
    color: #333;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    font-size: 1rem;
}

h1 {
    font-size: 48px;
}

h3 {
    font-size: 24px;
    color: #f7f7f7;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #bdbdbd;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    color: #bdbdbd;
}

 :-ms-input-placeholder {
    /* IE 10+ */
    color: #bdbdbd;
}

 :-moz-placeholder {
    /* Firefox 18- */
    color: #bdbdbd;
}

ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul>li {
    flex: 0 48%;
    align-self: center;
    border-bottom: 1px solid #424B4F;
    flex-wrap: wrap;
    padding: 1rem 0rem;
    position: relative;
}

.searchResult {
    display: table;
    position: relative;
}

.avatar {
    width: 100px;
    display: table-cell;
}

.info {
    display: table-cell;
    width: 90%;
    vertical-align: top;
    padding: .5rem 1rem;
}

.info .product-title {
    font-weight: bold;
    font-size: 16px;
    color: #424B4F;
}

.info .product-detail {
    line-height: 18px;
    font-size: 13px;
    min-height: 55px;
    padding: .5rem 0rem;
    width: 70%;
    text-transform: capitalize
}

.info .add-product {
    position: absolute;
    right: 0;
    width: 100px;
    height: 100px;
    bottom: 50%;
    transform: translateY(50%);
}

.info .add-product>i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
    font-size: 1.3em;
}

.info .add-product>i.fa-plus {
    right: 0;
}

.info .add-product>i.fa-minus {
    left: 0;
}

.info .add-product>i.fa-plus:hover,
.info .add-product>i.fa-minus:hover {
    cursor: pointer;
    color: #424B4F
}

.info .add-product>div[data-quantity] {
    text-align: center;
    top: 40%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.info .add-product>div[data-quantity]:after {
    content: attr(data-quantity);
    font-size: 22px;
    font-weight: bold;
}

.info .add-product>button {
    position: absolute;
    bottom: 0px;
    background: #ED4D46;
    font-weight: bold;
    color: #f7f7f7;
    text-transform: uppercase;
    width: 100%;
    height: auto;
    border-radius: 3px;
    text-align: center;
    padding: .5rem 0rem;
    border: inherit;
}

.info .add-product>.delete_basket_item {
    color: #424B4F;
    bottom: 0;
    position: absolute;
    right: -20px;
}

.info .add-product>button:hover {
    cursor: pointer;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    max-width: 1440px;
    margin: auto;
    background-color: #efefef;
    text-align: center;
}


/*=====  End of HTML Main Elements  ======*/


/*=============================================
=            Header Section            =
=============================================*/

header {
    display: block;
    height: 399px;
    width: 100%;
    background-image: url('../images/header-bg.jpg');
    background-size: cover;
    background-position: 0px;
    position: relative;
    border-bottom: 5px solid #424B4F;
}


/*=====  End of Header Section  ======*/


/*=============================================
=            Page Layout            =
=============================================*/

.l-container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    background: #f7f7f7;
    height: 100vh;
    position: relative;
}

.l-sub-content {
    display: table;
    width: 100%;
    height: 100px;
    vertical-align: middle;
    background: #424B4F;
}

.l-content__main {
    background: #f7f7f7;
    padding: .5rem 1rem;
    height: 100%;
    padding-bottom: 80px;
}


/*=====  End of Page Layout  ======*/


/*=============================================
=            Form Elements            =
=============================================*/

input[type="number"] {
    width: 90px;
    height: 40px;
    position: absolute;
    text-align: center;
    font-size: 22px;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
}


/*=====  End of Form Elements  ======*/


/*=============================================
=            App Css Components            =
=============================================*/


/**
 *
 * Navigation Component
 *
 */

nav {
    width: 100%;
}

.c-navigation {
    background: rgba(0, 0, 0, 0.2);
    height: 70px;
    display: table;
    color: #f7f7f7;
    box-shadow: 0px 0.30em 10px rgba(0, 0, 0, 0.1);
}

.c-navigation .c-navigation__left {
    display: table-cell;
    font-size: 16px;
    vertical-align: middle;
    padding: .5rem 1rem;
}

.c-navigation .c-navigation__right {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding: 0 0 0 1rem;
}


/**
 *
 * Basket Component
 *
 */

.c-basket {
    position: relative;
    width: 80px;
    height: 100%;
    background: #ED4D46;
    float: right;
    text-align: center;
    border-left: 1px solid #f7f7f7;
}

.c-basket:hover {
    cursor: pointer;
}

.c-basket>i {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.c-basket[data-count]:after {
    content: attr(data-count);
    position: absolute;
    color: #f7f7f7;
    bottom: -32px;
    min-width: 40px;
    max-width: 80px;
    left: 55%;
    transform: translateX(-50%);
    height: auto;
    font-size: 16px;
    font-weight: bold;
    background: #ED4D46;
    padding: .5rem 0rem;
    border-bottom: 1px solid #f7f7f7;
    box-shadow: 0px 0.30em 10px rgba(255, 255, 0, 0.2);
}

.c-basket__container {
    position: absolute;
    width: 500px;
    height: 100vh;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0.30em 10px rgba(0, 0, 0, 0.2);
    top: 0;
    right: 0;
    overflow: auto;
    display: none;
}

.c-basket__container--close {
    position: relative;
    width: 80px;
    height: 70px;
    background: #ED4D46;
    float: right;
    text-align: center;
}

.c-basket__container--close>i {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: #f7f7f7;
}

.c-basket__container ul>li {
    flex: 1 100%;
    padding: 1rem 2rem;
    background: #f7f7f7;
}


/**
 *
 * Search Field
 *
 */

.c-search-field {
    width: auto;
    display: block;
    position: absolute;
    left: 50%;
    bottom: 20%;
}

.c-search-field .c-search-field__element input[type="text"] {
    width: 440px;
    height: 50px;
    padding: 1px 20px 0 20px;
    border-radius: 3px 0 0 3px;
    border: none;
    font-size: 17px;
    border-right: 1px solid #dcdce5;
    color: #ED4D46;
}

.c-search-field button {
    text-transform: uppercase;
    border-radius: 0 3px 3px 0;
    height: 53px;
    padding: 15px 22px 14px;
    font-size: 14px;
    background-color: #424B4F;
    color: #fff;
    border: none;
    text-align: center;
    margin-left: -4px;
    font-weight: bold;
}

.c-search__result-text {
    width: 100%;
    text-align: center;
    font-size: 36px;
    padding: .5rem 0rem;
    color: #424B4F;
}

.c-search__result-text h2>span {
    color: #ED4D46
}


/**
 *
 * Error Field
 *
 */

.error__input {
    width: 100%;
    font-size: 20px;
    top: 10px;
    color: #ED4D46;
    display: block;
    position: relative;
    font-weight: bold;
    display: none;
}

#emptyResult.fab,
#emptyResult.fas {
    position: absolute;
    left: 50%;
    top: 60%;
    color: #dddd;
}


/*=====  End of App Css Components  ======*/